footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-icons__img {
  width: 50px;
}

.footer-icons {
  font-size: 20px;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

.footer-icons__desc {
  font-size: 12px;
  margin: 5px 0 0 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
}
