footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 1px solid #eaeaea;
  background-color: white;
}

.footer-block {
  display: flex;
  justify-content: center;
  align-content: center;
}

:root {
  --button-primary: rgb(254, 111, 15);
  --button-hover: rgba(254, 111, 15, 0.8);
}

@keyframes icons-둥-둥 {
  0% {
    transform: translateY(0%);
  }
  30% {
    transform: translateY(-10px);
  }
  70% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.footer-icons__img {
  width: 50px;
}

.footer-icons:hover {
  animation: 2s icons-둥-둥;
}

.footer-icons {
  font-size: 20px;
  flex-direction: column;
  margin: 0 10px 0 10px;
}

.footer-icons__desc {
  font-size: 12px;
  margin: 5px 0 0 0;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-content: center;
}
